section .task {
  padding:  1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--darkGrayishBlue);
  transition: .4s ease-in-out;
  cursor: pointer;
}

section .task:hover {
  background-color: var(--veryDarkDesaturatedBlue);
}

section .task .icon {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--darkGrayishBlue);
}

section .task p {
  font-size: 1.25rem;
  margin-left: 1rem;
}
